/* Color styles */
$syslightprimary: #006496;
$syslighton-primary: #FFFFFF;
$syslightprimary-container: #CAE6FF;
$syslighton-primary-container: #001E31;
$syslightsecondary: #50606F;
$syslighton-secondary: #FFFFFF;
$syslightsecondary-container: #D3E4F5;
$syslighton-secondary-container: #0D1D29;
$syslighttertiary: #66587B;
$syslighton-tertiary: #FFFFFF;
$syslighttertiary-container: #EDDCFF;
$syslighton-tertiary-container: #211634;
$syslighterror: #BA1B1B;
$syslighterror-container: #FFDAD4;
$syslighton-error: #FFFFFF;
$syslighton-error-container: #410001;
$syslightbackground: #FCFCFF;
$syslighton-background: #1A1C1E;
$syslightsurface: #FCFCFF;
$syslighton-surface: #1A1C1E;
$syslightsurface-variant: #DEE3EA;
$syslighton-surface-variant: #41474D;
$syslightoutline: #72787E;
$syslightinverse-on-surface: #F0F0F3;
$syslightinverse-surface: #2F3032;
$syslightinverse-primary: #8CCDFF;
$syslightshadow: #000000;
$sysdarkprimary: #8CCDFF;
$sysdarkon-primary: #003350;
$sysdarkprimary-container: #004B72;
$sysdarkon-primary-container: #CAE6FF;
$sysdarksecondary: #B7C8D9;
$sysdarkon-secondary: #22323F;
$sysdarksecondary-container: #394856;
$sysdarkon-secondary-container: #D3E4F5;
$sysdarktertiary: #D0BFE8;
$sysdarkon-tertiary: #362B4A;
$sysdarktertiary-container: #4D4162;
$sysdarkon-tertiary-container: #EDDCFF;
$sysdarkerror: #FFB4A9;
$sysdarkerror-container: #930006;
$sysdarkon-error: #680003;
$sysdarkon-error-container: #FFDAD4;
$sysdarkbackground: #1A1C1E;
$sysdarkon-background: #E2E2E5;
$sysdarksurface: #1A1C1E;
$sysdarkon-surface: #E2E2E5;
$sysdarksurface-variant: #41474D;
$sysdarkon-surface-variant: #C2C7CE;
$sysdarkoutline: #8B9198;
$sysdarkinverse-on-surface: #1A1C1E;
$sysdarkinverse-surface: #E2E2E5;
$sysdarkinverse-primary: #006496;
$sysdarkshadow: #000000;
$primary100: #FFFFFF;
$primary99: #FBFCFF;
$primary95: #E5F2FF;
$primary90: #CAE6FF;
$primary80: #8CCDFF;
$primary70: #5DB3F1;
$primary60: #3D98D4;
$primary50: #0F7EB8;
$primary40: #006496;
$primary30: #004B72;
$primary20: #003350;
$primary10: #001E31;
$primary0: #000000;
$secondary100: #FFFFFF;
$secondary99: #FBFCFF;
$secondary95: #E5F2FF;
$secondary90: #D3E4F5;
$secondary80: #B7C8D9;
$secondary70: #9DADBD;
$secondary60: #8393A3;
$secondary50: #697988;
$secondary40: #50606F;
$secondary30: #394856;
$secondary20: #22323F;
$secondary10: #0D1D29;
$secondary0: #000000;
$tertiary100: #FFFFFF;
$tertiary99: #FFFBFC;
$tertiary95: #F8ECFF;
$tertiary90: #EDDCFF;
$tertiary80: #D0BFE8;
$tertiary70: #B4A4CB;
$tertiary60: #998AB0;
$tertiary50: #7F7195;
$tertiary40: #66587B;
$tertiary30: #4D4162;
$tertiary20: #362B4A;
$tertiary10: #211634;
$tertiary0: #000000;
$neutral100: #FFFFFF;
$neutral99: #FCFCFF;
$neutral95: #F0F0F3;
$neutral90: #E2E2E5;
$neutral80: #C5C6C9;
$neutral70: #AAABAE;
$neutral60: #909194;
$neutral50: #75777A;
$neutral40: #5D5E61;
$neutral30: #45474A;
$neutral20: #2F3032;
$neutral10: #1A1C1E;
$neutral0: #000000;
$neutral-variant100: #FFFFFF;
$neutral-variant99: #FBFCFF;
$neutral-variant95: #ECF1F9;
$neutral-variant90: #DEE3EA;
$neutral-variant80: #C2C7CE;
$neutral-variant70: #A6ACB3;
$neutral-variant60: #8B9198;
$neutral-variant50: #72787E;
$neutral-variant40: #595F65;
$neutral-variant30: #41474D;
$neutral-variant20: #2B3137;
$neutral-variant10: #161C22;
$neutral-variant0: #000000;
$error100: #FFFFFF;
$error99: #FCFCFC;
$error95: #FFEDE9;
$error90: #FFDAD4;
$error80: #FFB4A9;
$error70: #FF897A;
$error60: #FF5449;
$error50: #DD3730;
$error40: #BA1B1B;
$error30: #930006;
$error20: #680003;
$error10: #410001;
$error0: #000000;
$source-seed: #2676A8;
$source-primary: #006496;
$source-secondary: #50606F;
$source-tertiary: #66587B;
$source-neutral: #5D5E61;
$source-neutral--variant: #595F65;
$source-error: #BA1B1B;
$lightsurface1: #FCFCFF;
$lightsurface2: #FCFCFF;
$lightsurface3: #FCFCFF;
$lightsurface4: #FCFCFF;
$lightsurface5: #FCFCFF;
$lightblack: #000000;
$lightwhite: #FFFFFF;
$lightprimaryopacity-008: #006496;
$lightprimaryopacity-012: #006496;
$lightprimaryopacity-016: #006496;
$lighton-primaryopacity-008: #FFFFFF;
$lighton-primaryopacity-012: #FFFFFF;
$lighton-primaryopacity-016: #FFFFFF;
$lightprimary-containeropacity-008: #CAE6FF;
$lightprimary-containeropacity-012: #CAE6FF;
$lightprimary-containeropacity-016: #CAE6FF;
$lighton-primary-containeropacity-008: #001E31;
$lighton-primary-containeropacity-012: #001E31;
$lighton-primary-containeropacity-016: #001E31;
$lightsecondaryopacity-008: #50606F;
$lightsecondaryopacity-012: #50606F;
$lightsecondaryopacity-016: #50606F;
$lighton-secondaryopacity-008: #FFFFFF;
$lighton-secondaryopacity-012: #FFFFFF;
$lighton-secondaryopacity-016: #FFFFFF;
$lightsecondary-containeropacity-008: #D3E4F5;
$lightsecondary-containeropacity-012: #D3E4F5;
$lightsecondary-containeropacity-016: #D3E4F5;
$lighton-secondary-containeropacity-008: #0D1D29;
$lighton-secondary-containeropacity-012: #0D1D29;
$lighton-secondary-containeropacity-016: #0D1D29;
$lighttertiaryopacity-008: #66587B;
$lighttertiaryopacity-012: #66587B;
$lighttertiaryopacity-016: #66587B;
$lighton-tertiaryopacity-008: #FFFFFF;
$lighton-tertiaryopacity-012: #FFFFFF;
$lighton-tertiaryopacity-016: #FFFFFF;
$lighttertiary-containeropacity-008: #EDDCFF;
$lighttertiary-containeropacity-012: #EDDCFF;
$lighttertiary-containeropacity-016: #EDDCFF;
$lighton-tertiary-containeropacity-008: #211634;
$lighton-tertiary-containeropacity-012: #211634;
$lighton-tertiary-containeropacity-016: #211634;
$lighterroropacity-008: #BA1B1B;
$lighterroropacity-012: #BA1B1B;
$lighterroropacity-016: #BA1B1B;
$lighterror-containeropacity-008: #FFDAD4;
$lighterror-containeropacity-012: #FFDAD4;
$lighterror-containeropacity-016: #FFDAD4;
$lighton-erroropacity-008: #FFFFFF;
$lighton-erroropacity-012: #FFFFFF;
$lighton-erroropacity-016: #FFFFFF;
$lighton-error-containeropacity-008: #410001;
$lighton-error-containeropacity-012: #410001;
$lighton-error-containeropacity-016: #410001;
$lightbackgroundopacity-008: #FCFCFF;
$lightbackgroundopacity-012: #FCFCFF;
$lightbackgroundopacity-016: #FCFCFF;
$lighton-backgroundopacity-008: #1A1C1E;
$lighton-backgroundopacity-012: #1A1C1E;
$lighton-backgroundopacity-016: #1A1C1E;
$lightsurfaceopacity-008: #FCFCFF;
$lightsurfaceopacity-012: #FCFCFF;
$lightsurfaceopacity-016: #FCFCFF;
$lighton-surfaceopacity-008: #1A1C1E;
$lighton-surfaceopacity-012: #1A1C1E;
$lighton-surfaceopacity-016: #1A1C1E;
$lightsurface-variantopacity-008: #DEE3EA;
$lightsurface-variantopacity-012: #DEE3EA;
$lightsurface-variantopacity-016: #DEE3EA;
$lighton-surface-variantopacity-008: #41474D;
$lighton-surface-variantopacity-012: #41474D;
$lighton-surface-variantopacity-016: #41474D;
$lightoutlineopacity-008: #72787E;
$lightoutlineopacity-012: #72787E;
$lightoutlineopacity-016: #72787E;
$lightinverse-on-surfaceopacity-008: #F0F0F3;
$lightinverse-on-surfaceopacity-012: #F0F0F3;
$lightinverse-on-surfaceopacity-016: #F0F0F3;
$lightinverse-surfaceopacity-008: #2F3032;
$lightinverse-surfaceopacity-012: #2F3032;
$lightinverse-surfaceopacity-016: #2F3032;
$lightinverse-primaryopacity-008: #8CCDFF;
$lightinverse-primaryopacity-012: #8CCDFF;
$lightinverse-primaryopacity-016: #8CCDFF;
$lightshadowopacity-008: #000000;
$lightshadowopacity-012: #000000;
$lightshadowopacity-016: #000000;

$darksurface1: #1A1C1E;
$darksurface2: #1A1C1E;
$darksurface3: #1A1C1E;
$darksurface4: #1A1C1E;
$darksurface5: #1A1C1E;
$darkwhite: #FFFFFF;
$darkblack: #000000;
$darkprimaryopacity-008: #8CCDFF;
$darkprimaryopacity-012: #8CCDFF;
$darkprimaryopacity-016: #8CCDFF;
$darkon-primaryopacity-008: #003350;
$darkon-primaryopacity-012: #003350;
$darkon-primaryopacity-016: #003350;
$darkprimary-containeropacity-008: #004B72;
$darkprimary-containeropacity-012: #004B72;
$darkprimary-containeropacity-016: #004B72;
$darkon-primary-containeropacity-008: #CAE6FF;
$darkon-primary-containeropacity-012: #CAE6FF;
$darkon-primary-containeropacity-016: #CAE6FF;
$darksecondaryopacity-008: #B7C8D9;
$darksecondaryopacity-012: #B7C8D9;
$darksecondaryopacity-016: #B7C8D9;
$darkon-secondaryopacity-008: #22323F;
$darkon-secondaryopacity-012: #22323F;
$darkon-secondaryopacity-016: #22323F;
$darksecondary-containeropacity-008: #394856;
$darksecondary-containeropacity-012: #394856;
$darksecondary-containeropacity-016: #394856;
$darkon-secondary-containeropacity-008: #D3E4F5;
$darkon-secondary-containeropacity-012: #D3E4F5;
$darkon-secondary-containeropacity-016: #D3E4F5;
$darktertiaryopacity-008: #D0BFE8;
$darktertiaryopacity-012: #D0BFE8;
$darktertiaryopacity-016: #D0BFE8;
$darkon-tertiaryopacity-008: #362B4A;
$darkon-tertiaryopacity-012: #362B4A;
$darkon-tertiaryopacity-016: #362B4A;
$darktertiary-containeropacity-008: #4D4162;
$darktertiary-containeropacity-012: #4D4162;
$darktertiary-containeropacity-016: #4D4162;
$darkon-tertiary-containeropacity-008: #EDDCFF;
$darkon-tertiary-containeropacity-012: #EDDCFF;
$darkon-tertiary-containeropacity-016: #EDDCFF;
$darkerroropacity-008: #FFB4A9;
$darkerroropacity-012: #FFB4A9;
$darkerroropacity-016: #FFB4A9;
$darkerror-containeropacity-008: #930006;
$darkerror-containeropacity-012: #930006;
$darkerror-containeropacity-016: #930006;
$darkon-erroropacity-008: #680003;
$darkon-erroropacity-012: #680003;
$darkon-erroropacity-016: #680003;
$darkon-error-containeropacity-008: #FFDAD4;
$darkon-error-containeropacity-012: #FFDAD4;
$darkon-error-containeropacity-016: #FFDAD4;
$darkbackgroundopacity-008: #1A1C1E;
$darkbackgroundopacity-012: #1A1C1E;
$darkbackgroundopacity-016: #1A1C1E;
$darkon-backgroundopacity-008: #E2E2E5;
$darkon-backgroundopacity-012: #E2E2E5;
$darkon-backgroundopacity-016: #E2E2E5;
$darksurfaceopacity-008: #1A1C1E;
$darksurfaceopacity-012: #1A1C1E;
$darksurfaceopacity-016: #1A1C1E;
$darkon-surfaceopacity-008: #E2E2E5;
$darkon-surfaceopacity-012: #E2E2E5;
$darkon-surfaceopacity-016: #E2E2E5;
$darksurface-variantopacity-008: #41474D;
$darksurface-variantopacity-012: #41474D;
$darksurface-variantopacity-016: #41474D;
$darkon-surface-variantopacity-008: #C2C7CE;
$darkon-surface-variantopacity-012: #C2C7CE;
$darkon-surface-variantopacity-016: #C2C7CE;
$darkoutlineopacity-008: #8B9198;
$darkoutlineopacity-012: #8B9198;
$darkoutlineopacity-016: #8B9198;
$darkinverse-on-surfaceopacity-008: #1A1C1E;
$darkinverse-on-surfaceopacity-012: #1A1C1E;
$darkinverse-on-surfaceopacity-016: #1A1C1E;
$darkinverse-surfaceopacity-008: #E2E2E5;
$darkinverse-surfaceopacity-012: #E2E2E5;
$darkinverse-surfaceopacity-016: #E2E2E5;
$darkinverse-primaryopacity-008: #006496;
$darkinverse-primaryopacity-012: #006496;
$darkinverse-primaryopacity-016: #006496;
$darkshadowopacity-008: #000000;
$darkshadowopacity-012: #000000;
$darkshadowopacity-016: #000000;

$androidlightcolor-accent-primary: #CAE6FF;
$androidlightcolor-accent-primary-variant: #006496;
$androidlighttext-color-primary: #1A1C1E;
$androidlighttext-color-primary-inverse: #F0F0F3;
$androidlightcolor-accent-secondary: #D3E4F5;
$androidlightcolor-accent-secondary-variant: #50606F;
$androidlighttext-color-secondary: #41474D;
$androidlighttext-color-secondary-inverse: #C5C6C9;
$androidlightcolor-accent-tertiary: #EDDCFF;
$androidlightcolor-accent-tertiary-variant: #66587B;
$androidlighttext-color-tertiary: #72787E;
$androidlighttext-color-tertiary-inverse: #909194;
$androidlightcolor-background: #F0F0F3;
$androidlightcolor-background-floating: #F9F9FC;
$androidlightcolor-surface: #F9F9FC;
$androidlightcolor-surface-variant: #E2E2E5;
$androidlightcolor-surface-highlight: #FFFFFF;
$androidlightsurface-header: #E2E2E5;
$androidlightunder-surface: #000000;
$androidlightoff-state: #2F3032;
$androidlightaccent-surface: #ECF1F9;
$androidlighttext-primary-on-accent: #1A1C1E;
$androidlighttext-secondary-on-accent: #41474D;
$androidlightscrim: #C5C6C9;
$androidlightvolume-background: #3A3C3E;
$androiddarkcolor-accent-primary: #CAE6FF;
$androiddarkcolor-accent-primary-variant: #5DB3F1;
$androiddarktext-color-primary: #F0F0F3;
$androiddarktext-color-primary-inverse: #1A1C1E;
$androiddarkcolor-accent-secondary: #D3E4F5;
$androiddarkcolor-accent-secondary-variant: #9DADBD;
$androiddarktext-color-secondary: #C2C7CE;
$androiddarktext-color-secondary-inverse: #45474A;
$androiddarkcolor-accent-tertiary: #EDDCFF;
$androiddarkcolor-accent-tertiary-variant: #B4A4CB;
$androiddarktext-color-tertiary: #8B9198;
$androiddarktext-color-tertiary-inverse: #75777A;
$androiddarkcolor-background: #1A1C1E;
$androiddarkcolor-background-floating: #1A1C1E;
$androiddarkcolor-surface: #2F3032;
$androiddarkcolor-surface-variant: #45474A;
$androiddarkcolor-surface-highlight: #515355;
$androiddarksurface-header: #45474A;
$androiddarkunder-surface: #000000;
$androiddarkoff-state: #2F3032;
$androiddarkaccent-surface: #ECF1F9;
$androiddarktext-primary-on-accent: #1A1C1E;
$androiddarktext-secondary-on-accent: #41474D;
$androiddarkscrim: #C5C6C9;
$androiddarkvolume-background: #3A3C3E;
